/* reset */
* {
  margin: 0;
  padding: 0;
}
/* layout */
html {
	margin: 0px;
	background: #4f6c7a url(../images/bg.jpg) repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

/* header */
#header {
	height: 124px;
	width: 899px;
	margin: 47px auto 0 auto;
	background: url(../images/header.jpg) no-repeat;
	border-bottom: 2px solid #0277b0;
}

#site-title {
	font-size:28px;
	font-family: Arial, Helvetica, sans-serif;
	color: #788084;
	float: left;
	line-height: 124px;
	padding-left: 30px;
	}
	

#site-title a{
	font-size:28px;
	font-family: Arial, Helvetica, sans-serif;
	color: #788084;
	text-decoration: none;
	border: none;
	}
	
#site-title a span{
	color: #0277b0;
	}
	
#top-menu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: right;
	line-height: 124px;
	padding-right: 30px;
	}
	
	
#top-menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display:inline;
	}

#top-menu li {
	float: left;
}

#top-menu a{
	border: none;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
	color:#788084;
	}

#top-menu a:hover{
	color: #0277b0;
}


#xo-canvas {
  width: 899px;
	margin: 0 auto;
	padding: 0px;
	background: #fff;
}
#xo-canvas-content {
	padding-top: 5px;
	margin:0px;
	background: #fff;
}
#xo-page {
	padding: 0px;
	margin: 0px;
	}

/*buttons*/
input[type=button], input[type=submit], input[type=reset] { 
    PADDING-RIGHT: 0.5em;
    PADDING-LEFT: 0.5em;
    PADDING-BOTTOM: 1px;
    PADDING-TOP: 1px;
    BACKGROUND: #0277b0;
    COLOR: #fff;
    CURSOR: pointer;
    BORDER-LEFT: 1px solid #758795;
	BORDER-RIGHT: 1px solid #758795;
	BORDER-BOTTOM: none;
	BORDER-TOP: none;
}

/* hypertext links */
a {
	text-decoration: none;
	border: none;
	color: #0079AC;
}
a:hover {
	background: none;
}

/* titles */
h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #000000;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.6em;
}
h4 {font-size: 1em;}
h5 {font-size: .9em;}
h6 {font-size: .8em;}

/* images */
img {
  border: 0;
  position: relative;
}

/* lists */
#xo-canvas-content ul {
  margin: 2px;
  padding: 2px;
  list-style: decimal inside;
  text-align: left;
}
#xo-canvas-content li {
  margin-left: 15px;
  background-color: inherit;
  color: #0079AC;
  line-height: 1.4em;
  list-style: url(../images/li.gif);
}

/* hr */
hr {
  color: #ccc;
  border: #ccc;
  background: #ccc;
  height: 1px;
}

/* forms */
input {font-size: 1em;
background: url(../images/input.gif) left repeat-x;
}
select {font-size: .9em;}



/*Scuhe*/

#suche{
padding:0px;
margin: 0px;
height: 36px;
background: url(../images/suche.gif) no-repeat;
}


/* left columns */
#xo-canvas-leftcolumn {
  width: 178px;
  padding-right: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}
#xo-canvas-leftcolumn th {
  color: #fff;
  vertical-align: middle;

}
#xo-canvas-leftcolumn .xo-blocktitle {
  width: 178px;
  height: 45px;
  margin: 0 0 5px 0;
  padding: 3px 0px 3px 0px;
  color: #000;
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  line-height: 45px;
  background: url(../images/block-top.jpg) no-repeat;
}

#xo-canvas-leftcolumn .xo-blockcontent {
  margin-top:-11px;
  margin-bottom: -2px;
  padding-left: 7px;
  padding-right: 7px;
  line-height: 1.2em;
  font-size: 12px;
  background: url(../images/block-con.jpg) repeat-y;
}

#xo-canvas-leftcolumn .xo-blockbottom {
height: 5px;
background: url(../images/block-bot.jpg) no-repeat;
margin-bottom: 10px;
}


#xo-canvas-rightcolumn .xo-blockbottom {
height: 8px;
background: url(../images/blockbottom.gif) no-repeat;
margin-bottom: 10px;
}

/* center blocks */
#xo-page .xo-block {
  margin: 5px;
}
#xo-topblocks th {
  vertical-align: middle;

}
#xo-topcenterblocks, #xo-bottomcenterblocks {}
#xo-topcenterblocks .xo-blocktitle h3, #xo-bottomcenterblocks .xo-blocktitle h3 {
  margin: 5px;
  padding: 0px;
  color: #0079AC;
  font-weight: normal;
  font-size: 17px;
  
  }
  
#xo-topcenterblocks .xo-blockcontent, #xo-bottomcenterblocks .xo-blockcontent {
  padding: 5px 8px 8px 8px;
  margin-bottom: 2px;
  line-height: 1.4em;
  text-align:justify;
}
#xo-topleftblocks, #xo-bottomleftblocks, #xo-toprightblocks, #xo-bottomrightblocks {width: 49.5%;}
#xo-topleftblocks .xo-blocktitle h3, #xo-bottomleftblocks .xo-blocktitle h3,
#xo-toprightblocks .xo-blocktitle h3, #xo-bottomrightblocks .xo-blocktitle h3{
  margin: 5px;
  padding-left: 10px;
  color: #0079AC;
  font-weight: normal;
  font-size: 17px;
  border-bottom: 1px solid #ccc;
}
#xo-topleftblocks .xo-blockcontent, #xo-toprightblocks .xo-blockcontent,
#xo-bottomleftblocks .xo-blockcontent, #xo-bottomrightblocks .xo-blockcontent {
  margin-bottom: 2px;
  padding: 5px 8px 8px 8px;
  text-align: justify;
  line-height: 1.4em;
}

/* content module page */
#xo-content {
  text-align: justify;
  padding: 8px;
}

/* footer */
#footer {
	width: 899px;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #B2B2B2;
	background: url(../images/footer.jpg) no-repeat;
}
#footer p {
	margin: 0;
	padding: 0px;
	line-height: 26px;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}
#footer a {
	color: #0277b0;
	padding: 0px;
}
#xo-logger-output{ font-size: .8em;}

/* block main menu */
#mainmenu {	font-size: 13px;}
#mainmenu a {
  width:155px;
  display: block;
  margin: 0;
  padding: 3px;
  border: none;
  color: #333333;
  border-bottom:1px solid #e6e8e7;
  background: #f5f5f5;
}
#mainmenu a:hover {color: #0277b0;}
#mainmenu a.menuTop {}
#mainmenu a.menuMain {}
#mainmenu a.menuSub {
  padding-left: 10px;
  background: none;
  width: 148px;
}
#mainmenu a.menuSub:hover {background-color: #f8f8f8;}

/* block user menu */
#usermenu {	font-size: 13px;}
#usermenu a {
  width:155px;
  display: block;
  margin: 0;
  padding: 3px;
  border: none;
  color: #333333;
  border-bottom:1px solid #e6e8e7;
  background: #f5f5f5;
}
#usermenu a:hover {color: #0277b0;}
#usermenu a.menuTop {}
#usermenu a.highlight {background-color: #A52524;}

/* tables and cells */
table {width: 100%;}
table td {
  padding: 0;
  border-width: 0;
  vertical-align: top;
}
th {
  background: #ebebeb;
  vertical-align : middle;
  color: #0079AC;
  padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.outer {}
.head {
  background-color: #f4f4f4;
  font-weight: bold;
  padding: 5px;
}
.even {
  background-color: #f7f7f7;
  padding: 5px;
}
.odd {
  background-color: #f9f9f9;
  padding: 5px;
}
.foot {
  background-color: #f4f4f4;
  padding: 5px;
  font-weight: bold;
}
tr.even td {
  background-color: #f7f7f7;
  padding: 5px;
}
tr.odd td {
  background-color: #f9f9f9;
  padding: 5px;
}

/* core messages */
.errorMsg {
  background-color: #FFCCCC;
  text-align: center;
  border-top: 1px solid #DDDDFF;
  border-left: 1px solid #DDDDFF;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
  padding: 10px;
}
.confirmMsg {
  background-color: #DDFFDF;
  color: #136C99;
  text-align: center;
  border-top: 1px solid #DDDDFF;
  border-left: 1px solid #DDDDFF;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  font-weight: bold;
  padding: 10px;
}
.resultMsg {
  background-color: #c1c1c1;
  color: #333;
  text-align: center;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  font-weight: bold;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 10px;
}

/* codes and quotes */
.xoopsCode {
  background-color: #fff;
  border: 1px inset #000080;
  font-family: "Courier New",Courier,monospace;
  max-height: 200px;
  overflow: auto;
}
.xoopsQuote {
  background-color: #fff;
  border: 1px inset #000080;
  font-family: "Courier New",Courier,monospace;
  font-style:italic;
  padding: 0 6px 6px 6px;
}  

/* articles */
.item {margin-bottom: 15px;}
.itemHead {
  padding: 3px;  
  color: #fff;
  font-size: 1.1em;
  color: #0079AC;
	font-family: Arial, Helvetica, sans-serif;
}
.itemInfo {
  text-align: right;
  padding: 3px;
  background-color: inherit;
}
.itemTitle a {
  font-size: 1.1em;
  font-weight: bold;
  color: #0079AC;
}
.itemPoster {
  font-size: .9em;
  font-style:italic;
}
.itemPostDate {
  font-size: .9em;
  font-style:italic;
}
.itemStats {
  font-size: .9em;
  font-style:italic;
}
.itemBody {padding-left: 5px;}
.itemText {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.5em;
}
.itemText:first-letter {
  font-size: 1.3em;
  font-weight: bold;
}
.itemFoot {
  text-align: right;
  padding: 3px;
  background-color: #f9f9f9;
}
.itemAdminLink {font-size: .9em;}
.itemPermaLink {font-size: .9em;}

/* forums */
.comTitle {
  font-weight: bold;
  margin-bottom: 2px;
}
.comText {padding: 2px;}
.comUserStat {
  font-size: 10px;
  font-weight:bold;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 2px; padding: 2px;
}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {
  margin-left: 2px;
  margin-top: 10px;
  color: #639ACC;
  font-weight:bold;
  font-size: .8em;
}
.comUserRank {margin: 2px;}
.comUserRankText {
  font-size: .8em;
  font-weight:bold;
}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {
  font-weight: normal;
  font-style: italic;
  font-size: .8em
}  
.comDateCaption {
  font-weight: bold;
  font-style: normal;
  font-size: .8em
}
.signature {
  font-size:.8em;
  font-style:italic;
}